<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about">
<ion-list>
    <ion-list-header class="cattitle"><span class="title">CONTACT US</span></ion-list-header>
 </ion-list> 
     <br/>
      

<p>TALKE is focused on ideas that drive contemporary businesses and the business environment. It also strives to facilitate success paradigms among executives, business minders and ancillary professionals.</p>

<p>The platform attracts a community of ambitious, forward thinking and upwardly-conscious  persons on a two-four-seven basis.</p>

<p>Let's navigate, improve and network !</p>
<br/>
<h3>Contact Us</h3>


<ion-icon name="mail" class="lg-icon"></ion-icon>
<p><strong><a href="mailto:contact@talke.ng">contact@talke.ng</a></strong></p>



<ion-icon name="call" class="lg-icon"></ion-icon>
<p>

+234 – (0)70 – 881 – 500 – 00<br/>

+234  –  (0)1  – 876  –  7 – 404<br/></p>

<ion-icon name="home" class="lg-icon"></ion-icon>


<p><strong>Lagos Office</strong>
<br/><br/>
# 6B. Bendel Close, off Bishop Aboyade Cole Street, Victoria Island, Lagos, Nigeria.
<br/><br/>
<strong>Ibadan Office</strong><br/>
<br/>
2nd Floor, Oyeks Business Plaza, Awolowo Junction, Secretariat Road, New Bodija, Ibadan.</p>



</ion-content>
