page-about {
	.about{
	    background-color: #132738;
	    background-image: url('../assets/img/bg.jpg');
	    background-size:100%;
	    background-size:cover;
	    color: #fff;
	    text-align:center
	}
	.lg-icon {
		font-size: 30px;
		color: #7ad6f5;
	}
.scroll-content {
	    background-color: #132738;
	    background-image: url('../assets/img/bg.jpg');
	    }

.cattitle {
    margin-top: 0;
    background: #261044;
    color: #fff;
    text-align: left;
    font-size: 15px;
    }
 .title{
  width: 200px;
  color: #ffe7f5;
/*  border-bottom: 2px solid #f989da; */
  padding-bottom:2px;
  text-transform: uppercase;
}
}
