<super-tabs tabsPlacement="bottom" scrollTabs="true"  id="footertabs">
  <super-tab [root]="tab1Root" title="Latest" icon="home"></super-tab>
  <super-tab [root]="tab2Root" title="Pics Only" icon="camera"></super-tab>
  <super-tab [root]="tab3Root" title="Magazine" icon="book"></super-tab>
  <super-tab [root]="tab5Root" title="Podcast" icon="headset"></super-tab>
  <super-tab [root]="tab4Root" title="TV" icon="laptop"></super-tab>
  <!-- <super-tab [root]="tab6Root" title="Videos" icon="videocam"></super-tab> -->
  <super-tab [root]="tab7Root" title="Interviews" icon="chatboxes"></super-tab>
  <super-tab [root]="tab8Root" title="Events" icon="bonfire"></super-tab>
  <super-tab [root]="tab9Root" title="Articles" icon="bookmarks"></super-tab>
  <super-tab [root]="tab10Root" title="What's Where" icon="basket"></super-tab>
  <!-- <super-tab title="Web" icon="globe"  onclick="window.open('http://www.talke.ng/', '_system', 'location=yes')"></super-tab> -->
  <super-tab [root]="tab12Root" title="Contact Us" icon="call"></super-tab>
</super-tabs>
