page-videos {
	.toolbar-background-md {
		 background: #4ee459;
	}
	
	.toolbar-title-md {
	    padding: 0 6px;
	    color: #ff3a3a;
	}

	.post-title {
		background: #000;
		color: #fff;
    	height: 65px;
    	overflow: inherit
   	}
	.post-title h2{
		color: #fff;
		font-size: 14px;
	}
}
