page-splash {
    .splash {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #261145;
    }     

}
 