<!--
  Generated template for the FollowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="camera"></ion-icon> FollowPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
