<ion-content padder class="about">
    <h3>Contact Us</h3>
<div class="contact-bg"></div>   
<br/>      


<p>TALKE attracts a community of the 'businessmindeds' and 'businessminders' from different parts of the world.</p>

<p>The platform focuses on the business environment, enterprise ideas and executive lifestyle.</p>

<p>Let's navigate, network and improve!</p>
<br/>

<ion-icon name="mail" class="lg-icon"></ion-icon>
<p><strong><a href="mailto:contact@talke.ng">contact@talke.ng</a></strong></p>



<ion-icon name="call" class="lg-icon"></ion-icon>
<p>

<a href="tel:+2348177777732">+234 – (0)81 – 777 – 777 – 32</a><br/>

<a href="tel:+23418767404">+234  –  (0)1  – 876  –  7 – 404</a><br/></p>

<ion-icon name="home" class="lg-icon"></ion-icon>


<p><strong>Offices</strong>
<br/><br/>
# 6B. Bendel Close, off Bishop Aboyade Cole Street, Victoria Island, Lagos, Nigeria.
<br/><br/>
2nd Floor, Oyeks Business Plaza, Awolowo Junction, Secretariat Road, New Bodija, Ibadan.</p>



</ion-content>
