page-contact {
	.about{
	    background-color: #132738;
	    background-image: url('../assets/img/bg.jpg');
	    background-size:100%;
	    background-size:cover;
	    color: #fff;
	    text-align:center
	}
	.toolbar-background-md {
	    // border-color: #b2b2b2;
		background: #132738!important;
		box-shadow: none;
		text-transform: none;
	}

	.lg-icon {
		font-size: 30px;
		color: #7ad6f5;
	}
	.scroll-content {
			background-color: #132738;
			background-image: url('../assets/img/bg.jpg');
			}

	.cattitle {
		margin-top: 0;
		background: #261044;
		color: #fff;
		text-align: left;
		font-size: 15px;
		}
	.title{
	color: #fff;
	font-size: 20px;
	/*  border-bottom: 2px solid #f989da; */
	text-transform: uppercase;
	}
	.contact-bg {
		background: url('../assets/imgs/contact-background.jpg') center center no-repeat;
		height: 200px;
		width: 100%;
		background-size: cover;
	} 
	a {
		color: #fff;
		text-decoration: none;
	}
}
