<!--
  Generated template for the TvPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="laptop"></ion-icon> TV</ion-title>
  </ion-navbar>

</ion-header>



<ion-content >
  <ion-grid style="text-align:center; margin: 0; padding: 0;">
    <ion-row style="">
        <ion-col style="background:rgb(2, 41, 41); padding: 15px; color: #fff;" onclick="window.open('http://www.talke.ng/', '_system', 'location=yes')">
            <ion-icon name="document"></ion-icon>  Schedule
        </ion-col>
        <ion-col style="background:rgb(35, 2, 41); padding: 15px; color: #fff;" onclick="window.open('http://www.talke.ng/', '_system', 'location=yes')">
            <ion-icon name="play"></ion-icon>  Live Stream
        </ion-col>    
    </ion-row>
  </ion-grid>
<ion-list>
  <div *ngFor="let post of posts; let first = first; let odd = odd;">

    <div class="first-post" style="margin-top: 0" (click)="postTapped($event, post)">
        <div class="img-container">
          <img [src]="post.source_url" class="post-image" alt=''/>
        </div>
        <div class="post-title">
        <h2 [innerHTML]="post.title.rendered" ></h2>
        </div>
    <hr/>
    </div>
  </div>
</ion-list>



 <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
