page-tv {
	.toolbar-background-md {
		 background: #b666d2;
	}
	// .toolbar-title-md { b666d2  bb0922
	//     padding: 0 6px;
	//     color: #ff3a3a;
	// }

	.post-title {
		background: #000;
		color: #fff;
    	height: 65px;
    	overflow: inherit
   	}
	.post-title h2{
		color: #fff;
		font-size: 14px;
	}
}
