<!--
  Generated template for the MagazinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="book"></ion-icon> Magazine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <div *ngFor="let post of posts; let first = first; let odd = odd;">

    <div *ngIf="first" class="first-post" (click)="postTapped($event, post)">
        <div class="img-container">
          <img [src]="post.source_url" class="post-image" alt=''/>
        </div>
        <h2 [innerHTML]="post.title.rendered" ></h2>
        <p [innerHTML]="post.excerpt.rendered"></p>
    <hr/>
    </div>

    <ion-item (click)="postTapped($event, post)" [class.first-item]="first"
     *ngIf="!first">
      <ion-thumbnail item-end>
        <img [src]="post.source_url" class="post-image" alt=''>
      </ion-thumbnail>
      <h2 text-wrap [innerHTML]="post.title.rendered"></h2>
      <p [innerHTML]="post.excerpt.rendered"></p>
    </ion-item>
  </div>
</ion-list>


 <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
