page-post {
.scroll-content {
    background: #fff;
 }
 .card-md {
 margin-left:0;
 margin-right:0;
 }
  .page {
      background-color: #fff;
  }
  .post {
    padding: 0px;
  }
  .page-post .post  {
    background: #fff;
    font-size: 16px;
    color: #383434;
    line-height: 1.8em;
  }
  .post-title{
    display: block;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #fff;
    margin: 2px 0;
    padding: 8px 0;
  }
  .post-title h2 {
  }

  .post-content{
    margin: 0 0 2px;
    font-size: 16px;
    color: #383434;
    line-height: 1.8em;
    text-align: justify;
  }
  .post-content p{
  margin-bottom: 20px;
  }

  .bold-title{
    font-weight: bold;
    font-size: inherit;
    color: #000;
  }

  .category-col {
    flex-grow: 0;
    width: auto;
    flex-basis: auto;
  }
/*
  .post img.img{
    height: 100%;
  }
*/  
  .post-image {
    background-size:100%;
    max-height: 350px;
    width:100%;
    text-align:center;
    overflow:hidden;
  }


  .post-image {
      height: 250px;
      width: 100%;
      text-align:center;
      overflow:hidden;

      background: #000 url('../assets/imgs/post-bg-lg.png') no-repeat center center;
      background-position: 100%;
      background-size: cover;
    transition: all ease-in-out 0.9s;
    position: relative;
    margin-bottom: 20px;
  }
  .post-image img {
    object-fit: cover;
    width: 100%;
  }
  .post-title span {
    font-size: 11px;
  }

  .synved-social-container{ 
    text-align:center;  
    display: none;
  }
  .synved-social-container img{
      width: 30px;
      height: 30px;
      display:inline-block;
      margin-left: 5px;
      margin-right: 5px;
  }
.wp-audio-shortcode {
  width: 100%;
}

.post-content p iframe {
  width: 100%!important;
}
.badge-md {
    border-radius: 4px;
    color: #fff;
    background-color: #ff0808;
  }

}
