  <ion-fab top left>
    <button ion-fab mini (click)="goback()"><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>

 <ion-fab top right>
    <button ion-fab mini  style="margin-top:-1px!important"><ion-icon name="plus"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab  onclick="window.open('https://www.facebook.com/mediatalke', '_system', 'location=yes')"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab onclick="window.open('https://twitter.com/mediatalke', '_system', 'location=yes')"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab onclick="window.open('https://www.pinterest.com/mediatalke/', '_system', 'location=yes')"><ion-icon name="logo-pinterest"></ion-icon></button>
      <button ion-fab onclick="window.open('https://instagram.com/talkemedia', '_system', 'location=yes')"><ion-icon name="logo-instagram"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

<ion-content  class="page">
  <div *ngIf="post" class="post first-post">

  <div class="post-image">
    <img [src]="post.source_url" alt="" class="img"/>
  </div>

  <div>
      <h2 [innerHTML]="post.title.rendered" ></h2>
      <span>
         <ion-row>
            <ion-col>
              <ion-icon name='md-calendar' color="danger"></ion-icon>
              {{post.date.split('T')[0]}}
            </ion-col>
          </ion-row>
       </span>
    <ion-grid>
      <ion-row>
        <ion-col class="category-col" *ngFor="let category of categories">
          <ion-badge (click)="goToCategoryPosts(category.id, category.name)">{{category.name}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
 <!-- Sharing Icons -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button icon-only (click)="regularShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="share"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="whatsappShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="facebookShare(i)" color="primary" clear>
        <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="twitterShare(i)" color="primary" clear>
        <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
      </button>
        </ion-col>
      </ion-row>
    </ion-grid>
 

    <ion-card-content>
      <p class="post-content" [innerHTML]="sanitizeData(post.content.rendered)"></p>
     </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col class="category-col" *ngFor="let category of categories">
          <ion-badge (click)="goToCategoryPosts(category.id, category.name)">{{category.name}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--p class="bold-title">Comments:</p>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar item-start>
        <img src="{{comment.author_avatar_urls[24]}}">
      </ion-avatar>
      <h2>{{comment.author_name}}</h2>
      <p [innerHTML]="comment.content.rendered"></p>
    </ion-item>
    <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="loadMoreComments($event)">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more comments...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll-->
   </div>

 </div>
</ion-content>
<!--ion-footer>
 <ion-toolbar>
  <button ion-button block (click)="createComment()">Add a Comment</button>
 </ion-toolbar>
</ion-footer-->
