  <ion-fab top right style="margin-top: 7px;">
    <div ion-fab mini class="no-bg" style="margin-top:-8px!important"><ion-icon name="menu"></ion-icon></div>
    <ion-fab-list>
      <button ion-fab class="facebook" onclick="window.open('https://www.facebook.com/talketv', '_system', 'location=yes')"><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab class="twitter" onclick="window.open('https://twitter.com/talketv', '_system', 'location=yes')"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab class="pinterest" onclick="window.open('https://www.pinterest.com/mediatalke/', '_system', 'location=yes')"><ion-icon name="logo-pinterest"></ion-icon></button>
      <button ion-fab class="instagram" onclick="window.open('https://instagram.com/talketv', '_system', 'location=yes')"><img src="./assets/imgs/ig.png" /></button>
      <button ion-fab class="youtube" onclick="window.open('https://www.youtube.com/channel/UCykVdNUYQTGwtepZxnpAIqg', '_system', 'location=yes')"><ion-icon name="logo-youtube"></ion-icon></button>
      <button ion-fab class="web" onclick="window.open('https://talke.ng', '_system', 'location=yes')"><ion-icon name="globe"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


<ion-nav #content [root]="rootPage"></ion-nav>
