<!--
  Generated template for the InterviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="chatboxes"></ion-icon> Interviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <div *ngFor="let post of posts">

    <ion-item (click)="postTapped($event, post)" [class.first-item]="first"
     *ngIf="!first">
      <ion-thumbnail item-end>
        <img [src]="post.source_url" class="post-image" alt=''>
      </ion-thumbnail>
      <h2 text-wrap [innerHTML]="post.title.rendered"></h2>
      <p [innerHTML]="post.excerpt.rendered"></p>
    </ion-item>
  </div>
</ion-list>



 <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more posts ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
