<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="bonfire"></ion-icon> Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <div *ngFor="let post of posts">

    <ion-item (click)="postTapped($event, post)" [class.first-item]="first"
     *ngIf="!first">
      <ion-thumbnail item-start>
        <img [src]="post.source_url" class="post-image" alt=''>
      </ion-thumbnail>
      <h2 text-wrap [innerHTML]="post.title.rendered"></h2>
      <p [innerHTML]="post.excerpt.rendered"></p>
    </ion-item>
  </div>
</ion-list>
</ion-content>
